@font-face {
	font-family: 'Goldplay-Bold';
	src: url(../../assets/fonts/Goldplay-Bold-8eb0add1b7012c82aaaead571196bc07.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}