@font-face {
	font-family: 'Goldplay-Light';
	src: url(../../assets/fonts/Goldplay-Light-fd3b71a5d786d78cc01a24aac607139e.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}