/* GLOBALS */

:root {
  --black: #000000;
  --white: #ffffff;
  --porcelain: #F7F8F9;
  --mid-gray: #6a696e;
  --stratos: #010B51;
  --shamrock: #29D884;
  --baltic-sea: #2e2c36;
  --red-orange: #FF441F;
  --fair-pink: #FFE9E9;
  --white-ice: #E9FCF2;
  --mystic: #E6EBF1;
  --dodger-blue: #3870FF;
  --purple: #5E00BE;
  --azure-radiance: #007AFF;
}

body {
  font-family: Nunito, sans-serif;
  overflow-x: hidden;
}

.promo-bar {
  position: fixed;
  background-color: var(--azure-radiance);
  font-size: 14px;
  letter-spacing: 0.1px;
  width: 419px;
  height: 41px;
  bottom: 5.2vw;
  left: 50%;
  border-radius: 20px;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
}

/* HERO-SECTION */

.nav-bar {
  align-items: center;
  padding: 6px 8px 7px 16px;
  position: fixed;
  display: flex;
  width: 100%;
  background: var(--white);
  z-index: 1;
  border-bottom: 1px solid var(--mystic);
}

.hamburger {
  margin-right: 16px;
}

.nav-list {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.location-container {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  width: 166px;
  height: 31px;
  padding: 0 16px;
  margin-left: 16px;
  border-right: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
}

.place {
  margin-bottom: 0;
  color: var(--red-orange);
  font-size: 14px;
  font-weight: 800;
  padding-top: 1px;
}

.search-container {
  display: inherit;
  align-items: center;
  width: 63%;
  background-color: var(--porcelain);
  border-radius: 8px;
  padding: 8px 13px 7px 16px;
}

.moustache {
  width: 24px;
  height: 24px;
  padding-bottom: 3px;
  margin-right: 4px;
}

.search-bar {
  border-style: none;
  background: var(--porcelain);
  font-size: 14px;
}

.account-container {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  width: 94px;
  height: 37px;
  padding-right: 16px;
  margin-right: 17px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.income {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 800;
  color: var(--mid-gray);
}

.hero-section {
  height: 721px;
  padding-top: 61.7px;
}

.register-container {
  height: 58.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--stratos);
  padding-bottom: 2px;
  position: relative;
}

.register-container img:nth-child(1) {
  width: 30px;
  margin-right: 12px;
}

.register-container p:nth-child(2) {
  color: var(--mystic);
  font-size: 14px;
  margin-bottom: 0;
  margin-right: 16px;
}

.register-container p span {
  color: var(--white);
  font-size: 14px;
  margin-bottom: 0;
}

.register-container p:nth-child(3) {
  color: var(--mystic);
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 0;
  letter-spacing: 0.3px;
  margin-right: 16px;
}

.register-container button {
  background: var(--shamrock);
  border-radius: 8px;
  font-weight: 800;
  border-style: none;
  margin-right: 10px;
  width: 83px;
  padding-left: 10px!important;
}

.register-container a {
  color: var(--white);
  font-size: 14px;
}

.register-container img:nth-child(6) {
  width: 16px;
  height: auto;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
}

.hero {
  background: url("../../assets/img/hero%20image.webp") right / auto no-repeat;
  height: 600px;
}

.lottie-container {
  width: 424.5px;
  display: inline-block;
  margin-left: 49px;
  margin-top: 120.3px;
  margin-right: 2px;
}

.hero-content {
  display: inline-block;
  transform: translateX(0.3px) translateY(55px);
  height: 350px;
}

.hero-content h1 {
  font-family: Goldplay-Bold;
  font-size: 72px;
  line-height: 89.5px;
  color: var(--baltic-sea);
  margin-bottom: 1px;
}

.hero-content p {
  font-size: 24px;
  color: var(--baltic-sea);
  margin-bottom: 0.3px;
}

.hero-content a {
  font-size: 14px;
  color: var(--baltic-sea);
}

.hero-content button {
  background: var(--baltic-sea);
  display: block;
  width: 320px;
  height: 48px;
  border-radius: 8px;
  border-style: none;
  font-weight: 800;
  margin-top: 41px;
}

/* INFO-SECTION */

/* ANYTHING-ELSE-CONTAINER */

.anything-else-container {
  padding-left: 40px;
  padding-top: 25px;
}

.an-el-h1 {
  font-size: 20px;
  font-weight: 800;
  color: var(--baltic-sea);
}

.an-el-res {
  width: 348px;
  height: 215.3px;
  background: var(--red-orange);
  margin-top: 16px;
  padding-top: 33.7px;
  border-radius: 22px;
  overflow: hidden;
  display: inline-block;
  margin-right: 36px;
}

.an-el-res-img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 110px;
  border-radius: 55px;
  background: var(--fair-pink);
}

.an-el-res-h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 0;
  height: 38px;
  padding-top: 6px;
  color: var(--baltic-sea);
  margin-top: 33.7px;
  background: var(--fair-pink);
}

.an-el-sup {
  width: 348px;
  height: 215.3px;
  background: var(--shamrock);
  margin-top: 16px;
  padding-top: 33.7px;
  border-radius: 22px;
  overflow: hidden;
  display: inline-block;
}

.an-el-sup-img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 110px;
  border-radius: 55px;
  background: var(--white-ice);
}

.an-el-sup-h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 0;
  height: 38px;
  padding-top: 6px;
  color: var(--baltic-sea);
  margin-top: 33.7px;
  background: var(--white-ice);
}

.an-el-pro-container {
  position: relative;
}

.an-el-pro {
  width: 162px;
  height: 162px;
  margin-top: 59px;
  display: inline-block;
}

.an-el-pro-img {
  width: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.an-el-pro-h1 {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -0.1px;
  color: var(--baltic-sea);
  text-align: center;
  margin-top: 4.5px;
  margin-bottom: 0;
}

.slide-container {
  position: absolute;
  top: 10px;
  right: 20px;
}

.slide-right {
  margin-left: 28px;
}

/* MOST-SEARCHED-CONTAINER */

.most-searched-container {
  padding-left: 36px;
  padding-top: 8px;
}

.mo-se-h1 {
  font-size: 20px;
  font-weight: 800;
  color: var(--baltic-sea);
  margin-bottom: 0;
}

.item-list {
  list-style: none;
  margin-top: 12px;
}

.item-list li {
  font-size: 16px;
  color: var(--baltic-sea);
  background-color: var(--mystic);
  padding: 8.7px 16px 8.7px 16px;
  border-radius: 21px;
  margin-right: 12px;
}

/* MOST-CHOSEN-CONTAINER */

.most-chosen-container {
  padding-left: 40px;
  padding-top: 7px;
}

.mo-ch-h1 {
  font-size: 20px;
  font-weight: 800;
  color: var(--baltic-sea);
}

.item {
  display: inline-block;
  position: relative;
  height: 131px;
  margin-right: 5.7px;
  margin-top: -13px;
}

.mo-ch-img {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  box-shadow: rgba(33, 34, 36, 0.04) 0px 5px 10px 0px;
  border-radius: 38px;
}

.item-h1 {
  margin-top: 95%;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: -0.1px;
  color: var(--dodger-blue);
  padding-top: 17px;
  padding-bottom: 19px;
  border-radius: 16px;
  box-shadow: rgba(33, 34, 36, 0.04) 0px 5px 10px 0px;
  margin-bottom: 0;
}

/* JOIN-SECTION */

.join-container {
  margin-top: 76px;
}

.join-h1 {
  text-align: center;
  font-family: Goldplay-Light;
  font-size: 72px;
  color: var(--baltic-sea);
}

.join-h1 span {
  font-family: 'Goldplay-Bold';
  color: var(--red-orange);
  margin-left: 18.7px;
}

.join-item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 8.2%;
}

.join-item {
  width: 375.3px;
  height: 334px;
  border: 1px solid var(--mystic);
  border-radius: 9px;
  overflow: hidden;
}

.join-item-img {
  object-fit: cover;
  object-position: 0 3%;
  width: 374px;
  height: 140px;
}

.join-item-content {
  height: 191px;
  text-align: center;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14.5px;
}

.join-item-h1 {
  font-size: 20px;
  font-weight: 800;
  color: var(--baltic-sea);
  margin-bottom: 16px;
}

.join-item-para {
  font-size: 14px;
  line-height: 23.94px;
  color: var(--baltic-sea);
  margin-bottom: 19px;
}

.join-item-btn {
  font-weight: 800;
  background: var(--white-ice);
  color: var(--shamrock);
  border-style: none;
  width: 334px;
  height: 48px;
  border-radius: 8px;
}

/* FOOTER */

.footer-links-container {
  padding: 40.5px 0 0 24px;
}

.link-box {
  height: 352px;
  width: 479px;
}

.link-box-h1 {
  font-size: 16px;
  font-weight: 800;
  color: var(--baltic-sea);
  height: 26px;
  margin-bottom: 12px;
  padding-top: 4px;
}

.link {
  width: 180px;
  height: 24px;
  padding-top: 3px;
  display: inline-block;
  margin-right: 36px;
  margin-bottom: 3.7px;
}

.link-h1 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 100;
}

.social-container {
  padding: 62px 0 40px 0;
}

.social-img {
  margin-left: 20px;
}

.web-btn {
  font-weight: 800;
  color: var(--porcelain);
  background-color: var(--purple);
  width: 170px;
  height: 50px;
  margin-right: 20px;
  border-radius: 8px;
  border: none;
}

.copyright-h1 {
  font-size: 14px;
  font-weight: 100;
}
